@import "./global.css";

.alert {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-md);
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  font-size: 0.8rem;
}

.alert-info {
  background-color: var(--info-color);
}
.alert-danger {
  background-color: var(--danger-color);
}
.alert-success {
  background-color: var(--success-color);
}

.alert-warning {
  background-color: var(--warning-color);
}

.outline-danger {
  background-color: var(--white-color);
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

.outline-info {
  background-color: var(--white-color);
  border: 1px solid var(--info-color);
  color: var(--info-color);
}

.outline-success {
  background-color: var(--white-color);
  border: 1px solid var(--success-color);
  color: var(--success-color);
}
.outline-warning {
  background-color: var(--white-color);
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}
