@import "./global.css";

:root {
  --avatar-xs: 1rem;
  --avatar-sm: 2rem;
  --avatar-md: 3rem;
  --avatar-lg: 4rem;
  --avatar-xl: 5rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--avatar-md);
  height: var(--avatar-md);
  background-color: var(--primary-color);
  object-fit: cover;
  object-position: center;
  color: var(--color-white);
  overflow: hidden;
}

.avatar-xs {
  width: var(--avatar-xs);
  height: var(--avatar-xs);
  font-size: var(--font-size-xs);
}

.avatar-sm {
  width: var(--avatar-sm);
  height: var(--avatar-sm);
  font-size: var(--font-size-sm);
}
.avatar-md {
  width: var(--avatar-md);
  height: var(--avatar-md);
  font-size: var(--font-size-md);
}

.avatar-lg {
  width: var(--avatar-lg);
  font-size: var(--font-size-lg);
  height: var(--avatar-lg);
}
.avatar-xl {
  width: var(--avatar-xl);
  font-size: var(--font-size-xl);
  height: var(--avatar-xl);
}

.avatar-square {
  border-radius: 30%;
}
