@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

:root {
  /* color palette */
  --primary-color: #0070f3;
  --secondary-color: #7928ca;
  --danger-color: #d00d65;
  --warning-color: #f5a623;
  --success-color: #17c964;

  --info-color: #03a9f4;
  --white-color: #ffff;
  --black-color: black;
  --border-color: rgb(221, 221, 221);
  --color-heading: rgb(75, 75, 75);
  --color-desc: rgb(87, 87, 87);
  --bg-color-link-hover: rgb(243, 243, 243);
  --bg-color-link-active: #eff8ff;

  /*spacing */

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;

  /* font size */
  --font-size-xs: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;
}

/* flex styles start */

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-centered {
  justify-content: center;
  align-items: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}
.jc-center {
  justify-content: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}
.ai-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap {
  gap: 1rem;
}

/* flex styles end */
